
{% extends 'home/layout.html' %}
<!--{% load static %}-->
{% block title  %}Главная страница{% endblock %}

{% block content  %}
<!--<head>-->
<!--    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">-->
<!--</head>-->
    <div class= "features" >
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet consectetur consequuntur dolores eaque error explicabo illum incidunt iste iusto laudantium magnam magni, nemo nisi obcaecati quas quasi quos, sunt!</p>
        <button class='btn btn-danger'>На страницу про нас</button>
    </div>
{% endblock %}